/* 
    Document   : style
    Created on : Feb 3, 2014, 2:46:51 PM
    Author     : louis
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    width:100%;
}

#input{
    width : 10%;
    float : left;
}
#map{
    height : 470px;
    float : left;
    width : 30%
}

#logger{
    height : 150px;
    overflow-y: scroll;
}

#matrix table{
    text-align: center;
    border-spacing:5px;
    float : left;
    font-size : 12px;
    border-collapse: collapse;
}