/* 
    Document   : style
    Created on : Feb 3, 2014, 2:46:51 PM
    Author     : louis
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    width:100%;
}

.page-header{
    margin-top: 0px;
}
#input{
    width : 10%;
    float : left;
}
#map{
    height : 470px;
    float : left;
    width : 100%
}

#logger{
    height : 150px;
    overflow-y: scroll;
}

#matrix table{
    border: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    border-spacing:5px;
    float : left;
    font-size : 10px;
    border-collapse: collapse;
}
#matrix td{
    border: 1px;
    border-style: solid;
    border-color: #08c;
}

#matrix th{
    color:white;
    background-color: #08c;
    text-align: center;
    border-spacing:5px;
    font-size : 10px;    
    border: 1px;
    border-style: solid;
    border-color: #000080;
}

.info{
    color:white;
}